{% extends "base.html" %}

{% block body_class %}app-layout{% endblock %}

{% block body_content %}
    <!-- Include Header -->
    {% include 'authentication/partials/navbar.html' %}
    
    <!-- Include Sidebar -->
    {% include 'authentication/partials/sidebar.html' %}
    
    <!-- Main Content Area -->
    <div class="main-content">
        <div class="container-fluid px-4" style="padding-top: 0; padding-bottom: 1rem;">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}